.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px;
}

.Header-light {
  background-color: rgb(243, 243, 243);
}

.Header-dark {
  background-color: rgb(51, 51, 51);
}

.Header > h1 {
  margin-left: 25px;
}
